<div class="container-fluid provider-show-container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6  m-auto"> 
            <div class="provider-show-info-container">
                <%= cl_image_tag @provider.photos[0].key, height: 250, width: 250, crop: :fill %>
                <div class="profile-info">
                    <div>
                        <h1><%= @provider.name %></h1> 
                        <% if @provider.rating == 0 %>
                            <p>Not rated yet</p>
                        <% else %>
                        <p><% @provider.rating.times do %><i class="fas fa-star text-secondary"></i><% end %> <%= pluralize @provider.reviews.size, "review" %></p>
                        <% end %>
                    </div>
                    
                    <div>
                        <h6><i class="fas fa-graduation-cap"></i> <%= @provider.service_type %></h6>
                    </div>
                    <div>
                        <h6><i class="far fa-envelope"></i> <%= @provider.user.email %></h6>
                    </div>
                    <div>
                        <h6><i class="fas fa-map-pin"></i> <%= @provider.location %></h6>
                    </div>
                    <div>
                        <h6>
                        <i class="fas fa-language"></i>
                        <% @provider.languages_spoken.each do |language| %>
                            <%= language %>
                        <% end %>
                        </h6>
                    </div>
                    <div>
                        <h6><i class="fas fa-money-bill"></i> €<%= @provider.rate %>.00</h6>
                    </div>
                </div>
            </div>
            <div class="provider-show-info-container">
                <div>
                    <h4>About me</h4>
                    <p><%= @provider.description %></p>
                    <p>Have questions?</p>
                </div>
                <div class="actions w-100 m-auto text-center pt-2">
                    <%= link_to 'Send me a message',  new_provider_chatroom_path(@provider), class: 'btn btn-secondary'  %>
                </div>
            </div>
            <div class="provider-show-info-container">
                <h3>Book <%= @provider.name %> Services</h3>
                <%= form_for([@provider, @booking]) do |f| %>
                    <div class="field">
                        <%= f.label :time %>
                        <%= f.time_field :time %>
                    </div>
                    <div class="field">
                        <%= f.label :date %>
                        <%= f.date_field :date %>
                    </div>
                    <div class="actions w-100 m-auto text-center pt-2">
                        <%= f.submit 'Book', class: 'btn btn-secondary' %>
                    </div>
                <% end %>
            </div>
            <div class="provider-show-info-container">
                <h3><%= @provider.name %> reviews</h3>
                <% if @provider.reviews.nil? || @provider.reviews.length == 0%>
                    <p>Be the first to review <%= @provider.name %>.</p>
                <% else %>
                    <% @provider.reviews.each do |review| %>
                        <div class="review-container shadow">
                            <% review.rating.times do %>
                                <i class="fas fa-star"></i>
                            <% end %>
                            <p class="mb-0"><%= review.content.capitalize %></p>
                        </div>
                    <% end %>
                <% end %>
                <%= form_for([@provider, @review]) do |f| %>
                    <div class="field">
                        <%= f.label :rating %>
                        <%= f.select(:rating, 1..5) %>
                    </div>
                    <div class="field">
                        <%= f.label :content %>
                        <%= f.text_area :content %>
                    </div>
                    <div class="actions w-100 m-auto text-center pt-2">
                        <%= f.submit 'Add review', class: 'btn btn-secondary' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>