<div class="container-fluid chat-container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4 m-auto pt-5 inner-container">
      <div class="chat-info-container">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>" class="messages">
          <% @chatroom.messages.each do |message| %>
            <div class="message-container" id="message-<%= message.id %>">
              <div class="chat-bubble mb-3 <%=  message.user == current_user ? "message-author" : "message-recipient" %>">
                <i class="author">
                  <span><%= message.user.username %></span>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
                <p><%= message.content %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>  
      <div class="chat-form-wrapper" >
        <div class="chat-form ">
          <%= form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.text_field :content, as: :text, label: false, placeholder: "Chat with #{@chatroom.provider.name}", autofocus: true %>
            <button type="submit" class="chat-button">
              <i class="fas fa-chevron-circle-right fa-2x"></i>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
