<div class="container-fluid booking-index-container">
    <div class="row pt-5">
        <div class="col-12 col-md-10 col-lg-6 m-auto pt-5">
            <% if user_signed_in? %>
                <% if !current_user.bookings.empty? %>
                    <% current_user.bookings.each do |booking| %>
                    <div class="card mb-3 m-auto" style="max-width: 540px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <%= cl_image_tag booking.provider.photos[0].key, crop: :fill, gravity: :face, class: 'bookings-provider-image h-100' %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title"><%= booking.provider.name %></h5>
                            <h6 class="card-text"><%= booking.provider.service_type %></h6>
                            <p class="card-text mb-0"><i class="fas fa-money-bill-wave"></i> €<%= booking.provider.rate %></p>
                            <p class="card-text mb-0"><i class="fas fa-map-pin"></i> <%= booking.provider.location %></p>
                            <p class="card-text mb-0"><i class="fas fa-clock"></i> <%= booking.date.strftime("%a %b %d, %Y") %> - <%= booking.time.strftime("%H:%M") %></p>
                            <p class="card-text mb-0"><i class="fas fa-language"></i>
                                <% languages = booking.provider.languages.split(', ') %>
                                <% languages.each do |lan| %>
                                <span><%= lan %></span>
                                <% end %>
                            </p>
                            <% if booking.pending %>
                                <div class="alert alert-warning mb-0" role="alert">
                                Pending for approval
                                </div>
                            <% else %>
                                <div class="alert alert-success mb-0" role="alert">
                                Booking confirmed
                                </div>
                            <% end %>
                            <p class="card-text">Comments: <%= booking.comments %></p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <% end %>
                <% else %>
                    <h6 class="">You have not book services yet.</h6>
                <% end %>
            <% end %>
        </div>
    </div>
</div>