<div class="container-fluid profile-page">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto my-4">
      <div class="profile-container">
         <%= link_to edit_user_registration_path(@user), class: 'btn btn-outline-secondary edit-profile-btn' do %>
            <i class="far fa-edit"></i>
          <% end %>
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="profile-info">
          <h1><%= @user.username.capitalize %></h1>
          <div>
            <h6><i class="far fa-envelope"></i> <%= @user.email %></h6>
          </div>
          <div>
            <h6><i class="fas fa-map-pin"></i> <%= @user.location %></h6>
          </div>
          <div>
            <h6><i class="fas fa-language"></i> <%= @user.preferred_language %></h6>
          </div>
          <div class="mt-3">
            <h5 class="mb-0">About me:</h5>
            <h6><%= @user.description %></h6>
          </div>
        </div>
      </div>
      <% if !@user.provider %>
        <div class="profile-action">
          <h3>Speak many languages?</h3>
          <%= link_to  "Become a provider", new_provider_path, class: "btn btn-secondary" %>
        </div>
        <% else %>
        <div class="profile-action">
          <%= link_to  "View my services", provider_path(Provider.find_by(user_id: @user.id)), class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>