<div class="container profile-page">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 m-auto">
      <div class="profile-container">
         <%= link_to edit_user_registration_path(@user), class: 'btn btn-outline-secondary edit-profile-btn' do %>
            <i class="far fa-edit"></i>
          <% end %>
        <img src="<%= @user.photo %>" alt="user photo">
        <div class="profile-info">
          <h1><%= @user.username.capitalize %></h1>
          <div>
            <h4>Contact me </h4><h6><%= @user.email %></h6>
          </div>
          <div>
            <h4>Lives in </h4><h6><%= @user.location %></h6>
          </div>
          <div>
            <h4>I prefer to speak in </h4><h6><%= @user.preferred_language %></h6>
          </div>
          <div>
            <h3>About me:</h3>
            <h6><%= @user.description %></h6>
          </div>
        </div>
      </div>
      <div class="profile-action">
        <% if !@user.provider %>
          <h3>Speak many languages?</h3>
          <%= link_to  "Become a provider", user_registration_path, class: "btn btn-secondary" %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>